{% extends "base.html" %}
{% block title %}
    Checkout
{% endblock %}
{% block content %}
<div class="container-fluid mt-4 justify-content-center">
  <div class="row">
    <div class="col-lg-2 mt-4 mb-4">
      <div class="card bg-light"> 
        <img class="card-img-top img-fluid rounded" src="{{ url_for('static', filename=car.make ~ car.model ~ '.png') }}" alt="{{ car.make }} {{ car.model }}">       
        <div class="card-body">        
            <h4 class="card-title">{{ car.make }} {{ car.model }}</h4>
            <p class="card-text">Car identification number: {{ car.carIndex }}</p>
        </div>
      </div>  
    </div>
    <div class="col-lg-10 mt-4 mb-4">
      <!-- Display a payment form -->
      <form id="payment-form">
        <div id="payment-element">
        <!--Stripe.js injects the Payment Element-->
        </div>
        <div class='form-control btn  mt-4'>              
          <span class='amount'><h3>Total: £{{ car.price }}</h3></span>
        </div>
        <button class="btn btn-secondary d-block mx-auto" id="submit" data-bs-toggle="modal">
          <div class="spinner hidden" id="spinner"></div>
          <span id="button-text">Pay now »</span>
        </button>
        <div id="payment-message" class="hidden"></div>
      </form>
    </div>
  </div>
</div>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">                        
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="col-lg-9 mt-4 text-center" style="display: contents;">
        <img class="mx-auto d-block" src="{{url_for('static', filename='GreenCheck.png')}}" alt="green check mark">
        <h3 class="mt-4">Thank you for using us to buy the perfect car for you!</h3>
        <h5>
          We thank you for your patronage! We will send a confirmation email to {{ car.owner.email }} momentarily. 
          If you have any questions whatsoever, please email us here today: <a href="mailto:orders@galacticmotors.com">orders@galacticmotors.com</a>.
        </h5>
        <h6>Your {{car.color}} {{ car.make }} {{ car.model}} will be ready for pick-up in 3 working days. Before you are able to drive your new car, you need to make sure you have the 
          <strong>following documentation:</strong></h6>
          <h5>Driving licence</h5>
          <p>Your <a herf="https://www.gov.uk/browse/driving/driving-licences" target="_blank">driving licence</a> 
            which'll prove your legal identity and also give you the authorisation to be able to drive the car.</p>            
          <h5>Insurance policy</h5>
          <p>You'll need to have a valid car insurance policy before being able to drive your new car. It is always illegal to drive 
            <a href="https://www.gov.uk/vehicle-insurance/driving-without-insurance" target="_blank">without any insurance</a>.
            Ideally, you should also arrange for <a href="https://www.gov.uk/vehicle-insurance" target="_blank">comprehensive car</a> 
            insurance - or, at a minimum, <a href="https://www.gov.uk/vehicle-insurance" target="_blank">third-party cover</a>.
          </p>            
          <h5>Road tax</h5>
          <p><a href="https://www.gov.uk/check-vehicle-tax" target="_blank">Car tax</a> (also known as 'vehicle excise duty' [VED]) 
            is not transferrable between owners. Therefore, you'll 
            need to make sure to tax your new car yourself before driving it. This can be done via the <a href="https://www.gov.uk/vehicle-tax" target="_blank">gov.uk</a> website, by post - or by calling 
            the DVLA's 24/7 phone service on 0300 123 4321. The seller of the car should provide you with a V5C/2 document. 
            (You'll need the 12-digit reference number from this slip to be able to tax your vehicle.)</p>            
          <h5>Payment documents</h5>
          <p>Print out the confirmation email or have access to our sent confirmation email during the car pick-up process.</p>            
      </div>
      <div class="modal-footer" style="display: flex; justify-content: center;">
        <div class="col-lg-3 text-center mt-4">
          <h5 class="mb-2">Recommended for you:</h5>               
          <h6 class="mb-4">Car Insurance</h6>        
          <a href="https://www.moneysupermarket.com/car-insurance/" target="_blank"><img class="rounded mb-3" src="{{ url_for('static', filename='moneySuperMarket.png')}}" alt="MoneySuperMarketlogo" style="height: 5vw;"></a>         
          <h6 class="mt-2">Car Finances</h6>
          <a href="https://jbrcapital.com/" target="_blank"><img class="rounded" src="{{ url_for('static', filename='jBRCapital.png')}}" alt="JBRCapital logo" style="height: 5vw;"></a>        
          <h6 class="mb-2">Car sales</h6>
          <a href="https://www.motorpoint.co.uk/stores" target="_blank"><img class="rounded" src="{{ url_for('static', filename='motorpoint.png')}}" alt="Motorpointlogo" style="height: 5vw;"></a>        
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Link is needed to load payment form from stripe -->
<script src="https://js.stripe.com/v3/"></script>
<script>
  var car_price = '{{ car.price *100 }}';  // Stripe uses price as pennies so it's needed to multiplied by 100 to convert to pounds
  var car_id = '{{ car.carIndex }}';
</script>
<!-- This link is needed to handle the payment process -->
<script src="../static/checkout.js" defer></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var button = document.getElementById('submit');
    button.addEventListener('click', function () {
      var myModal = new bootstrap.Modal(document.getElementById('myModal'));
      myModal.show();
    });
  });
</script>
{% endblock %}